.heads, .nodes{
    display:inline-block;
    width: 15px;
    height: 15px;
    background-color: #E9E9E9;
    border-left: 0 solid #FFFFFF;
    border-right: 0 solid #FFFFFF;
    margin-left: 2px;
    margin-right: 2px;
}

.beingUsed {
    background-color: #7BC96F;
}

#PC {
    font-size: 20px;
    margin-top: 60px;
    margin-left: 20px;
}

#runOneButton {
    font-size:40px;
    margin-top: 80px;
    color: #337AB7;
    float: right;
}
